* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

input {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
}

input:focus,
button:focus {
  outline: none;
}

.mw {
  max-width: 1200px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

header {
  width: 100%;
  margin: auto;
}

header h1 {
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: auto;
  width: 90%;
  flex: 1;
  display: flex;
  gap: 3rem;
}